
.grid-stack-edit {
  padding: 0.25rem;
  border-width: 1px;
  border-radius: 0.5rem;
}

.gs-item-example {
  border-radius: 8px;
  border: 1px solid red;
  background: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.gs-trash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
